
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://media.istockphoto.com/id/929023224/vector/seamless-background-with-books.jpg?s=612x612&w=0&k=20&c=suJcI7JPdWMAB32Dlr3V1CPs3FCfgFkhSSuFuQN8bzw=");
}

#container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

h1 {
    color: black;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

#controls {
    margin-bottom: 20px;
}

#categorySelect {
    font-size: 15px;
    padding: 5px;
}

#chart-container {
    border: 1px solid grey;
    background-color: white;
    padding: 10px;
}

.x-axis path,
.x-axis line,
.y-axis path,
.y-axis line {
    stroke: grey;
    shape-rendering: crispEdges;
}

text {
    font-size: 12px;
    fill: black;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 10px;
    font-size: 14;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
}

svg {
    display: block; 
    margin: 0 auto;
    width: 100%;
}

#pieChartOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#pieChartContainer {
    background: white;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

#closePieChart {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


